/*.App {
  text-align: center;
}
*/

.App-header {
  height: 5vh;
  width:100%;
}

.leaflet-container {
    height: 95vh;
    width: 100%;
    color: #006400;
}
.placeInput	{
	width: 400px;
}
map {
	height:840px;
	margin-right: 7%;
}

h2 {
	margin-left: 7%;
}
.center {
  text-align: center;
  margin-left: 15%;
}
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}