/*.App {
  text-align: center;
}
*/

.App-header {
  height: 5vh;
  width:100%;
}

.leaflet-container {
    height: 95vh;
    width: 100%;
    color: #006400;
}
.placeInput	{
	width: 400px;
}
map {
	height:960px;
}
