/*.App {
  text-align: center;
}
*/

.App-header {
  height: 5vh;
  width:100%;
}

.leaflet-container {
    height: 95vh;
    width: 100%;
    color: #006400;
}
.placeInput	{
	width: 400px;
}
map {
	height:840px;
	margin-right: 7%;
}

h2 {
	margin-left: 7%;
}
.center {
  text-align: center;
  margin-left: 15%;
}
$tan: #FCFFC5;
$blue: #0EB0D6;
$grey: #95949D;

body {
  background: rgb(50,50,50);
  min-width: 1000px;
}
/*.container {
  width: 900px;
  height: 750px;
  border: 1px solid black;
  margin: 65px auto;
}*/
